body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
 
h1{
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 1px solid #dc3545;
    max-width: 65px;
    opacity: 1;  
}
.buffer{
  height: 10rem;
}
.btn{
  font-weight: 700px;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary{
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-primary:hover{
  background-color: purple;
  border-color: purple;
  border-width: 4px;
}
.btn-xl{
  background-color: #dc3545;
  padding: 1rem 2rem;
}
